@page "/"

@inject NavigationManager navManager

<h3>Index</h3>
<ul class="menu" style="color:white;">
  <li><a style="color:#415965;" href="wijk">WIJK</a></li>
  <li><a style="color:#415965;" href="solhav">SolHav</a></li>
  <li><a style="color:#415965;" href="kilen">Kilen</a></li>
</ul>

@code {
  public enum ProjectType {
    WIJK,
    SolHav,
    Kilen
  }

  public static Dictionary<ProjectType, string> ProjectName = new Dictionary<ProjectType, string> {
    { ProjectType.WIJK, "WIJK" },
    { ProjectType.SolHav, "SolHav" },
    { ProjectType.Kilen, "Kilen" },
  };

  /**<summary>
   * Navigate immediately to project; useful for quick debugging.
   * </summary>
   */
#if RELEASE
  private ProjectType Project = ProjectType.WIJK;
#else
  private ProjectType Project = ProjectType.WIJK;
#endif
  /**<summary>
   * Navigate immediately to specified page; useful for quick debugging.
   * </summary>
   */
  private string Page = "";


  protected override async Task OnInitializedAsync() {
    await base.OnInitializedAsync();
    string navString = "/" + ProjectName[Project].ToLower();
    if (!string.IsNullOrEmpty(Page))
      navString += "/" + Page;
    navManager.NavigateTo(navString);
  }
}
